<%- include ('partials/header.ejs') %>   

    <!-- Injetando javascript dentro do html -->
     <!-- não pode comentar código no ejs -->
      <!-- para comentar em ejs voce usa # -->
    <p>Bem-vindo(a) <strong><%= user %></strong> ao perfil</p>
<%- include ('partials/footer.ejs') %>   
