<%- include ('partials/header.ejs') %>   

    <h1>Página de Produtos</h1>
    <hr>
    <h2>Lista de Produtos:</h2>
    <%#= produtos %>

    <!-- Percorrendo a lista de produtos com forEach -->

    <ul>
        <!-- Produtos - é a lista inteira -->
         <!-- Produto - é cada item da lista -->
        <% produtos.forEach(produto => { %>
        <li><%= produto.nome %> </li>
        <li><%= produto.preco.toLocaleString("pt-br", {style: "currency", currency: "BRL"}) %> </li>
        <br>
        <% }) %>

    </ul>
    
    <!-- cada tag que eu tenha que usar o ejs eu tenho que abrir e fechar em cada linha -->
    <br>
    <a href="/">Voltar</a>
<%- include ('partials/footer.ejs') %>   
