<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    <!-- Injetando javascript dentro do html -->
     <!-- não pode comentar código no ejs -->
      <!-- para comentar em ejs voce usa # -->
    <p>Bem-vindo(a) <%= user %> ao perfil</p>
</body>
</html>